<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>Текущий url: {{ current_url }}</h4>
    <form method="POST">
        {% csrf_token %}
        <a>Введите url:</a>
        <input name="url" type="text">
        <button type="submit">Отправить</button>
    </form>
    <br>
    <form method="POST" action="{% url 'change_page_size_main_page' %}">
        {% csrf_token %}
        <a>Показывать по:</a>
        <input name="page_size" type="number" value="{{ page_size }}">
        <button type="submit">Отправить</button>
    </form>
    <br>
    <form method="POST" action="{% url 'search_main_page' %}">
        {% csrf_token %}
        <a>Поиск :</a>
        <input name="query" type="text" value="{{ request.session.query }}">
        <label for="search">  по полю:</label>
        <select id="search" name="search_field">
            {% for ch in filter_choices %}
                <option {% if request.session.search_field == ch %}selected{% endif %} value="{{ ch }}">{{ ch }}</option>
            {% endfor %}
        </select>
        <button type="submit">Найти</button>
    </form>
    <br>
    <form method="GET" action="{% url 'clean_search_main_page' %}">
        <button type="submit">Сбросить поиск</button>
    </form>
    <br>
    <form method="POST" action="{% url 'filter_main_page' %}">
        {% csrf_token %}
        <label for="filter">Отсортировать по полю:</label>
        <select id="filter" name="filter_field">
            {% for ch in filter_choices %}
                <option {% if request.session.filter_field == ch %}selected{% endif %} value="{{ ch }}">{{ ch }}</option>
            {% endfor %}
        </select>
        <button type="submit">Отсортировать</button>
    </form>
    {{ errors }}
    <br>
    <table border="1">
        <tr>
            <td>Url</td>
            <td>Domain</td>
            <td>Create date</td>
            <td>Update_date</td>
            <td>Country</td>
            <td>Is dead</td>
            <td>A</td>
            <td>NS</td>
            <td>CName</td>
            <td>MX</td>
            <td>TXT</td>
        </tr>
        {% for d in doms %}
            <tr>
                <td>{{ d.url }}</td>
                <td>{{ d.domain }}</td>
                <td>{{ d.create_date }}</td>
                <td>{{ d.update_date }}</td>
                <td>{{ d.country }}</td>
                <td>{{ d.is_dead }}</td>
                <td>{{ d.a }}</td>
                <td>{{ d.ns }}</td>
                <td>{{ d.cname }}</td>
                <td>{{ d.mx }}</td>
                <td>{{ d.txt }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <form method="POST" action="{% url 'paginate_main_page' %}">
        {% csrf_token %}
        <input type="text" hidden value="previous" name="direct">
        <button type="submit" {% if current_page == 1 %}disabled{% endif %}><</button>
    </form>
    <a>Страница {{ current_page }} / {{ pages_count }}</a>
    <form method="POST" action="{% url 'paginate_main_page' %}">
        {% csrf_token %}
        <input type="text" hidden value="next" name="direct">
        <button type="submit" {% if current_page == pages_count %}disabled{% endif %}>></button>
    </form>
</body>
</html>